---
import Project from "./Project.astro";

import qwotableBanner from '@site/assets/qwotableBanner.png';
---

<div>
    <h1 class="text-(--color-primary) m-8 text-3xl font-extrabold text-center">My projects</h1>
    <div class="columns-1 md:columns-2 gap-6 space-y-6 p-4">
        <Project banner={qwotableBanner.src} title="Qwotable" description="Qwotable: A simple Android app, developed in Kotlin and Jetpack Compose, for viewing and managing a personal collection of quotes." url="/projects/qwotable"/>
        <Project title="Damier" description="Damier is an Android habit tracker, built with Kotlin and Jetpack Compose, that allows you to define and track your habits. Visualize your progress with a clean, intuitive waffle-board display of your check-ins." url="/projects/damier"/>
    </div>
</div>