<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../assets/brand/light/logo-compact.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lijucay</title>
	</head>
	<body class="lg:mt-8 lg:px-16 px-4 sm:px-8 xl:px-32 bg-(--color-background)">
		<slot />
	</body>
</html>