---
import Header from "@site/components/Header.astro";
import HeaderContent from "@site/components/HeaderContent.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="../../favicon.ico" />
		
		<meta name="generator" content={Astro.generator} />
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

		<title>{title}</title>
		<meta name="description" content="Welcome to the official website of Lijucay. Dive into coding, creativity, and chaos!">
		<meta name="author" content="Lijucay"/>

		<meta name="color-scheme" content="light dark">
	</head>
	<body class="bg-(--color-background)">
		<Header>
			<HeaderContent title="Lijucay" useImage={true}/>
		</Header>
		<slot />
	</body>
</html>